html, body {
	position: relative;
	width: 100%;
	height: 100%;
	--white: #FFFFFF;
	--lightest-grey: #F1F1F1;
	--light-grey: #C4C4C4;
	--medium-grey1: #858585;
	--medium-grey2: #636363;
	--dark-grey: #515050;
	--darkest-grey: #3A3A3A;
	--black: #333333;
	--red: #CC0000;
	--bright-red: #f40000;
	--light-red: #f74848;
	--navy: #113A62;
}

body {
	color: var(--black);
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 96px;
	line-height: 100px;
	font-weight: 700;
	display: inline;
	color: var(--black);
	margin: 0;
}

h2 {
	font-size: 60px;
	line-height: 75px;
	font-weight: 300;
	margin-bottom: 50px;
	color: var(--black);
}

h3 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 400;
	color: var(--white);
	margin: 0 0 30px;
}

h4 {
	font-size: 26px;
	line-height: 24px;
	font-weight: 500;
	color: var(--medium-grey2);
	margin: 0 0 12px;
}

h5 {
	font-size: 28px;
	font-weight: 500;
	color: var(--white);
	margin: 0;
}

h6 {
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	color: var(--dark-grey);
	margin: 0;
}

p {
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	color: var(--black);
	margin: 0;
}

@media (max-width: 700px) {
	h1 {
		font-size: 50px;
		line-height: 60px;
	}
}


@media (max-width: 500px) {
	h1 {
		font-size: 36px;
		line-height: 46px;
	}

	h2 {
		font-size: 30px;
		line-height: 40px;
	}

	h3 {
		font-size: 26px;
		line-height: 34px;
		margin: 0 0 20px;
	}

	h4 {
		font-size: 18px;
		line-height: 20px;
	}

	h5 {
		font-size: 22px;
		line-height: 24px;
		font-weight: 500;
	}

	p {
		font-size: 16px;
		line-height: 28px;
		font-weight: 400;
		color: var(--dark-grey);
	}
}